@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comforter&family=Domine&family=Duru+Sans&family=Fjalla+One&family=Monoton&family=Noto+Serif:ital@0;1&family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  --font-family: "Lato", sans-serif;
  --font-weight: 600;
  font-size: 16px;
  font-family: var(--font-family);
  font-weight: var(--font-weight);
}

body {
  display: grid;
  place-content: center;
  margin-top: 99px;
  margin-left: 490px;
  background: linear-gradient(238deg,
      rgba(68, 105, 247, 1) 0%,
      rgba(246, 91, 245, 1) 100%);
  overflow: hidden;
}

.wifi {
  display: flex;
  justify-content: end;
  position: relative;
  right: 500px;
  top: 49px;
  z-index: 9;
}

.wifi-t {
  width: 20px;
}

#datetime {
  position: relative;
  top: 129px;
  left: 199px;
  z-index: 9;
  font-size: 12px;
  color: rgb(90, 172, 9);

}

.cirecli-phone {
  width: 200px;
  height: 40px;
  border-radius: 0 0 95px 95px;
  position: relative;
  top: 97px;
  left: 69px;
  z-index: 6;
  background-color: rgb(59, 58, 58);
}

.time {
  position: relative;
  top: 70px;
  z-index: 9;
  left: 18px;

}

.flex {
  display: flex;
  justify-content: center;
  position: relative;
  top: -1640px;
  right: 299px;
  z-index: -9;
}

.contaner {
  width: 140%;
  min-width: 450px;
  max-height: 900px;
  height: 950px;
}

.sider {
  width: 120%;
  height: 920px;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(0.5px);
  -webkit-backdrop-filter: blur(0.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 20px;
}


.dots {
  display: flex;
  justify-content: end;
  gap: 13px;
  position: relative;
  right: 10px;
  top: 12px;
  cursor: pointer;
}



.dot1 {
  width: 30px;
  height: 30px;
  background-color: #ff605c;
  border-radius: 2000px;
}

.dot2 {
  width: 30px;
  height: 30px;
  background-color: #ffbd44;
  border-radius: 2000px;
}

.dot3 {
  width: 30px;
  height: 30px;
  background-color: #00ca4e;
  border-radius: 2000px;
}




.iphone {
  width: 800px;
  position: relative;
  top: -749px;
  right: 239px;
  z-index: -2;
}

main {
  --width: 21rem;
  --height: 46rem;
  --hi-primary-rgb: 8, 136, 178;
  --hi-primary: rgb(var(--hi-primary-rgb));
  --hi-secondary-rgb: 38, 183, 150;
  --hi-secondary: rgb(var(--hi-secondary-rgb));
  --hi-fg: white;
  --bg: white;
  --fg-muted: rgba(0, 0, 0, 0.3);
  --shadow-color: rgba(0, 0, 0, 0.25);
  --border-radius: 2rem;
  --transition: 250ms ease-in-out;
  --animation-duration: 1000;

  display: grid;
  grid-template-rows:
    min-content 1fr min-content 5rem;

  height: var(--height);
  width: var(--width);
  border-radius: var(--border-radius);
  overflow: hidden;

  background: linear-gradient(90deg,
      var(--hi-primary),
      var(--hi-secondary));
  box-shadow: 0.25rem 0.25rem 1rem 0 rgba(0, 0, 0, 0.4);
}

main {
  position: relative;
  right: 5px;
}

.list-header {
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  grid-template-rows: 1fr;
  gap: 0.5rem;
  border-radius: 35px 35px 0 0;
  padding: 2rem;
  padding-bottom: 0;
  /* position: absolute;
    left: calc(50% - 1280px/2 - 27px);
top: calc(50% - 2592px/2 + 32px); */
  background-color: var(--bg);
}

.list-header__icon {
  place-self: center;
  color: var(--hi-secondary);
  position: relative;
  top: 71px;
  right: 6px;
}

.list-header h1 {
  font-weight: 390;
  font-size: 1.5rem;
  position: relative;
  top: 70px;
}

.list-items {
  background-color: var(--bg);
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  overflow-y: auto;
}

.list-items>ul {
  list-style-type: none;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  margin-top: 80px;
  padding: 1rem;
}

.list-item {
  position: relative;

  display: grid;
  grid-template-rows: 1rem;
  grid-template-columns: 1rem 1fr 1rem 1rem;
  gap: 1rem;

  padding: 1rem;
  border-radius: calc(0.5 * var(--border-radius));

  cursor: pointer;

  overflow: hidden;
}

.list-item:hover {
  background-color: rgba(var(--hi-primary-rgb), 0.2);
}

@keyframes appear {
  0% {
    clip-path: circle(0 at 0% 50%);
    background-color: rgba(var(--hi-primary-rgb), 0.2);
  }

  50% {
    clip-path: circle(100% at 50% 50%);
    background-color: rgba(var(--hi-primary-rgb), 0.2);
  }

  100% {
    background-color: transparent;
  }
}

.list-item.appear {
  animation: appear calc(var(--animation-duration) * 1ms) ease-in-out;
}



@keyframes disappear {
  0% {
    background-color: transparent;
  }

  50% {
    clip-path: circle(100% at 50% 50%);
    background-color: rgba(var(--hi-primary-rgb), 0.2);
  }

  100% {
    clip-path: circle(0 at 100% 50%);
    background-color: rgba(var(--hi-primary-rgb), 0.2);
  }
}

.list-item.deleted {
  animation: disappear calc(var(--animation-duration) * 1ms) ease-in-out;
}


.list-item__checkmark {
  place-self: center;

  display: grid;
  place-content: center;

  width: 0.75rem;
  height: 0.75rem;
  border: 1px solid var(--hi-primary);
  border-radius: 2px;

  transition: background-color 250ms ease-in-out;
}

.list-item__checkmark path {
  stroke: var(--bg);
  stroke-dasharray: 20;
  stroke-dashoffset: 20;

  transition: stroke-dashoffset var(--transition);
  transition-delay: 250ms;
}

.list-item.checked .list-item__checkmark {
  background-color: var(--hi-primary);
}

.list-item.checked .list-item__checkmark path {
  stroke-dashoffset: 0;
}

.list-item.checked .list-item__title {
  color: var(--fg-muted);
}

.list-item__title>* {
  position: relative;
}

.list-item__title>*:after {
  content: "";

  position: absolute;
  left: 0;
  right: 100%;
  bottom: 0.5em;
  height: 1.5px;

  background-color: var(--fg-muted);

  transition: right var(--transition);
}

.list-item.checked .list-item__title>*:after {
  right: 0;
}

.list-item a {
  --hi-color: var(--hi-primary);

  display: grid;
  place-content: center;

  color: var(--hi-primary);
}

.list-item__important path {
  transition: fill var(--transition);
}

.list-item.important .list-item__important path {
  fill: var(--hi-primary);
}

.list-item__menu-base {
  --padding-right: 1rem;
  --button-size: 1rem;
  --fold-transition: 750ms cubic-bezier(0.66, 0.03, 0, 1.015);

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: var(--button-size);
  justify-content: end;
  align-items: center;
  gap: 1rem;

  padding-right: var(--padding-right);

  background: rgba(var(--hi-secondary-rgb), 0.2);

  clip-path: circle(0 at calc(100% - var(--padding-right) - (0.5 * var(--button-size))) 50%);
  transition: clip-path var(--fold-transition);
}

.list-item__menu-base.open {
  clip-path: circle(200% at calc(100% - var(--padding-right) - (0.5 * var(--button-size))) 50%);
}

.list-item__menu-base::after {
  --size: 20rem;
  --y-offset: 1.5rem;

  content: "";

  position: absolute;
  right: calc(-1 * var(--size) / 2);
  top: calc(-1 * var(--size) / 2 + var(--y-offset));
  width: var(--size);
  height: var(--size);
  border-radius: 50%;

  background: var(--hi-secondary);
  box-shadow: -4px 0px 8px 0px var(--shadow-color);

  z-index: -1;
}

.list-item__menu-base a {
  --hi-color: white;

  min-height: 1rem;

  color: white;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  place-content: center;
  padding: 0 1rem;
}

.navbar>a {
  color: var(--hi-fg);

  display: grid;
  place-content: center;
}

.navbar .add-button svg {
  transition: transform var(--transition);
}

.navbar .add-button.open svg {
  transform: rotate(135deg);
}


.add-panel {
  --inner-padding: 0.25rem;
  --input-padding: 0.5rem;
  --input-inner-height: 1rem;
  --border-width: 1px;

  display: grid;
  place-content: start stretch;

  height: 0;
  overflow: hidden;
  padding: 0 1rem;

  transition: padding-top var(--transition),
    height var(--transition);
}

.add-panel.open {
  height: calc(2 * var(--inner-padding) + 2 * var(--input-padding) + var(--input-inner-height) + 2 * var(--border-width));
  padding-top: 1.5rem;
}

.add-panel>* {
  display: grid;
  grid-template-columns: 1fr var(--border-radius);
  grid-template-rows: var(--border-radius);

  padding: var(--inner-padding);
  border: var(--border-width) solid var(--hi-primary);
  border-radius: 1.5rem;

  background-color: var(--bg);
}

.add-panel__button,
.add-panel__input {
  padding: var(--input-padding);
  border: none;
  border-radius: calc(var(--border-radius) * 0.5);
}

.add-panel__input {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--input-inner-height);
}

.add-panel__input:active,
.add-panel__input:focus {
  outline: none;
}

.add-panel__button {
  background: linear-gradient(90deg,
      var(--hi-secondary),
      var(--hi-primary));

  color: var(--hi-fg);

  cursor: pointer;

  clip-path: circle(calc(50% + 0.25rem) at 50% 50%);
}

.list-item a,
.add-panel__button {
  --inner-padding: 0.25rem;
  position: relative;
}

.list-item a:before,
.add-panel__button:before {
  content: "";
  position: absolute;

  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  border-radius: 50%;

  opacity: 0;
  background: var(--hi-color);

  transition:
    left var(--transition),
    right var(--transition),
    top var(--transition),
    bottom var(--transition),
    opacity var(--transition);
}

.list-item a:hover:before,
.add-panel__button:hover:before {
  opacity: 0.2;
  left: calc(-1 * var(--inner-padding));
  right: calc(-1 * var(--inner-padding));
  top: calc(-1 * var(--inner-padding));
  bottom: calc(-1 * var(--inner-padding));
}

.list-item a:active:before,
.add-panel__button:active:before {
  opacity: 0.4;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
}

@keyframes fly-out-in {
  0% {
    transform: translate(0%, 0%);
  }

  49% {
    transform: translate(175%, -175%);
  }

  50% {
    transform: translate(-175%, -175%);
  }

  51% {
    transform: translate(-175%, 175%);
  }

  100% {
    transform: translate(0%, 0%);
  }
}

.add-panel__button.sending svg {
  animation: fly-out-in calc(var(--animation-duration) * 1ms) ease-in-out;
}